
img {
  margin-bottom: .7rem;
  width: 50%;
  height: 50%;
}

.container {
  font-family: Tahoma;
  font-size: small;
}

.card-text {
  font-weight: bold;
  margin: .15rem;
}

.col {
  padding: 5px;
} 

.sidebar-header {
  margin: .6rem .6rem .7rem .8rem;
  font-weight: bold;
  text-transform: uppercase
}

.col-header {
  margin: .6rem .6rem .7rem .8rem;
  font-weight: bold;
  text-transform: capitalize
}

.form-inline .form-control {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}

#chat-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 26rem;
}

#card-header {
  height: 4.3rem;
  text-align: center;
  padding: .5rem;
}

#card-body {
  text-align: center;
  padding: 1rem;
}

#accordion-card {
  margin-bottom: 10px;
  border-radius: .5rem;
}

#col-sidebar {
  background-color: rgb(239, 240, 240);
  border-radius: .5rem;
}

#rank {
  width: 240px;
  margin-bottom: 10px;
  padding: .1rem .1rem .3rem 0;
}

#col-rankings {
  background-color: rgb(235, 245, 253);
  border-radius: .5rem;
  font-size: 11pt;
  margin-right: .7rem;
}

#rank-col {
  width: 220px;
  margin-bottom: 10px;
  padding: .35rem;
}

#btn-rank {
  border-width: 0;
  font-weight: 500;
}


/* #container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* #accordion-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;s
  margin: 1%;
  width: 12rem;
  border-radius: .5rem;
} */




